### Vue template
# gitignore template for Vue.js projects

### Vuejs template
# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log
.idea
*.class
blog.iml
ruyu-blog-doc/
.codebuddy
application-dev.yml
application-prod.yml
tsc-output.txt
.agents/*
visualizer.html
.env.development
.omo
.trae
.gitignore
*.log
