### Vue template
# gitignore template for Vue.js projects

### Vuejs template
# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log
.idea
*.class
blog.iml
ruyu-blog-doc/
.codebuddy
application-dev.yml
application-prod.yml
sta-blog-ui/tsc-output.txt
sta-blog-ui/.agents/*
!sta-blog-ui/.agents/this-pro
sta-blog-ui/visualizer.html
sta-blog-ui/visualizer.html
sta-blog-ui/.env.development
.gitignore
*.log
